* {
  margin: 0;
  padding: 0;
  font-family: Calibri;
}

li {
  list-style: none;
}

header,
.game-field,
footer {
  width: 400px;
  margin: auto;
  text-align: center;
}

h1 {
  font-weight: 600;
  font-size: 32px;
}

.game-options {
  display: flex;
  justify-content: space-between;
  height: 30px;
}

.game-options li {
  line-height: 24px;
  margin: 2px;
  flex-grow: 1;
  background-color: #a9bcc6;
  color: white;
  cursor: pointer;
}

.score {
  display: none;
}

.game-options li:hover {
  background-color: #b8e3ea;
}

.game-options li:active {
  background-color: #a9bcc6;
}

.game-stats {
  display: flex;
  justify-content: space-evenly;
}

.game-stats span {
  font-weight: 600;
}

.size-selector {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.size-selector p{
  padding-right: 5px;
}

.size-selector ul {
  display: flex;
  flex-wrap: wrap;
}

.size-selector li{
  margin: 2px 2px;
  padding: 0 6px;
  background-color: #a9bcc6;
  color: white;
  cursor: pointer;
}

.size-selector li:hover {
  background-color: #b8e3ea;
}

.game-field {
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #02334a;
}

.piece {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid white;
  background-color: #c7aabc;
  color: white;
  flex-basis: 25%;
  font-size: 36px;
  user-select: none;
}

.piece:hover {
  background-color: #a9bcc6;
}

.empty {
  opacity: 0;
}

.win-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 400px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.5);
  visibility: hidden;
  opacity: 0;
}

.modal-active {
  visibility: visible;
  opacity: 1;
}

.modal-active {
  transition: opacity 0.5s;
}

.win-modal h2 {
  color: #513e5c;
  padding: 10px;
  font-size: 32px;
}

.win-modal p {
  color: #513e5c;
  font-size: 24px;
}

footer {
  display: none;
}
